Repository AstarAeroespacial/rustar-gs, pull requests merged in 2025-08, with the labels that each got.

#57 [tracking] add chrono & docs
  tracking/Cargo.toml
  tracking/examples/iss.rs
  tracking/src/lib.rs
Labels: sat-tracking

#55 Implement next pass calculation
  tracking/Cargo.toml
  tracking/examples/iss.rs
  tracking/src/lib.rs
Labels: sat-tracking

#56 Antenna controller
  Cargo.toml
  antenna-controller/Cargo.toml
  antenna-controller/README.dm
  antenna-controller/examples/main.rs
  antenna-controller/src/lib.rs
Labels: antenna

#18 Demodulator
  .gitignore
  Cargo.lock
  Cargo.toml
  modem/.gitignore
  modem/Cargo.toml
  modem/README.md
  modem/examples/README.md
  modem/examples/example.rs
  modem/flowgraphs/afsk_demod.py
  modem/flowgraphs/afsk_demod_headless.py
  modem/src/demodulator.rs
  modem/src/lib.rs
  modem/src/modulator.rs
Labels: demod
